/* filter style start */

.filterAnimals {
    background-color: #F2C198;
    height: 330px;
    width: auto;
    margin-top: 22px;
}

.filter_waveheader {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 52px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.filterSelect {
    font-family: 'Lato';
    font-size: 21px;
    width: 328px;
    height: 40px;
    border-radius: 25px;
    padding-left: 17px;
    margin-bottom: 15px;
    border: none;
}

.filterSelect:focus {
    outline: none !important;
    border-color: #3a3a3a;
    box-shadow: 0 0 20px #3a3a3a;
}

.filterCheckbox {
    font-family: 'Lato';
    font-size: 21px;
    width: 50px;
    height: 20px;
    border-radius: 25px;
    padding-left: 10px;
    margin-bottom: 15px;
    border: none;
    accent-color: #000000;
}

.filterAge1 {
    font-family: 'Lato';
    font-size: 21px;
    width: 160px;
    height: 40px;
    border-radius: 25px;
    padding-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    border: none;
}

.filterAge2 {
    font-family: 'Lato';
    font-size: 21px;
    width: 160px;
    height: 40px;
    border-radius: 25px;
    padding-left: 10px;
    margin-bottom: 15px;
    border: none;
}


.filterLabel {
    font-family: 'Lato';
    font-size: 21px;
}

/* filter style end */

/* filter list start */

.listOfAnimals {
    height: auto;
    margin-bottom: 50px;
    background-color: #F5ECE3;
}

.animalCard {
    display: grid;
    grid-template-rows: 200px 200px;
    grid-template-columns: 150px 400px;
    
    grid-gap: 8px;
    width: auto;
    height: 200px;
    background-color:  #BB8484;
    border-radius: 50px;
    margin-top: 35px;
}

.animalCardinner {
    display: grid;
    
    grid-template-rows: 150px 150px;
    grid-template-columns: 200px 200px;
    grid-gap: 4px;
    border-radius: 50px;
}

.animalCardInnerInner {
    border-radius: 50px;
}

.animalCardUnderLink {
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 21px;
    padding-left: 100px;
    width: 400px;
    height: 40px;
    border-radius: 50px;
}

.cardHeader {
    padding-top: 10px;
    padding-left: 30px;
    font-family: 'Montserrat';
    font-size: 42px;
    font-weight: 600px;
    color: #F6F6F6;
}

.cardInfoLeft {
    font-family: 'Lato';
    font-size: 23px;
    padding-top: 10px;
    padding-left: 30px;
}

.cardInfoRight {
    font-family: 'Lato';
    font-size: 23px;
    margin-top: 50px;
    padding-top: 10px;
    padding-left: 30px;
}

.cardInfoRight:last-child {
    margin-top: 0px;
}

.cardImg {
    width: 150px;
    height: 200px;
    border-radius: 25% 43% 19% 25% / 25% 17% 49% 25%;

}

.LinkDecoration {
    text-decoration: underline;
    color: white;
}

/* filter list end */